@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-SemiBold.ttf);
}

@font-face {
    font-family: Gaming;
    src: url(../fonts/Ode\ to\ Idle\ Gaming.otf);
}

@font-face {
    font-family: Gamer;
    src: url(../fonts/Minercraftory.ttf);
}

body{
    /*background: linear-gradient(to right, #acf7f7, #ee80d1, #9f75bb, #acf7f7);*/
    background-color: #000000;
    color: #3852e6;
}

html {
    height: 100%;
}

footer{
    text-align: center;
}

.navbar-nav{
    font-size: 13pt;
    font-family: Orbitron;
}

/*Inicio*/

    .logo{
        display: block;
        margin: auto;
        border: 5px solid transparent;
        border-image: linear-gradient(to right, #ff8ae0, #00ffff, #3852e6, #bf5fff);
        border-image-slice: 1;
    }

    .t4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 68%;
      
    }

    .t5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }

/*Quienes Somos*/
    .hero-image {
        background-image: url("../img/foto_1.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family:'Orbitron', sans-serif;
    }    

    .video   {
        text-align: center;
        color: #000000;
    }

/*Galería Fotografica*/
    
    .container.gallery-container {
        background-color: rgb(255, 255, 255);
        color: #35373a;
        min-height: 100vh;
        border-radius: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    }

    .gallery-container h1 {
        text-align: center;
        margin-top: 70px;
        font-family: 'Droid Sans', sans-serif;
        font-weight: bold;
    }

    .gallery-container p.page-description {
        text-align: center;
        max-width: 800px;
        margin: 25px auto;
        color: #888;
        font-size: 18px;
    }

    .tz-gallery {
        padding: 40px;
    }

    .tz-gallery .lightbox img {
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }


    .tz-gallery .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    }

    .tz-gallery img {
        border-radius: 4px;
    }

    .baguetteBox-button {
        background-color: transparent !important;
    }


    @media(max-width: 768px) {
        body {
            padding: 0;
        }

        .container.gallery-container {
            border-radius: 0;
        }
    }

   
 
        