<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Datos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body style="background-color: cadetblue;">
    <div class="container">
        <h1 style="text-align: center;">Modificando Usuario</h1>
        <div class="row">
            <form method="POST" action="#" id="formulario">
                {%csrf_token%}
                <div class="form-group">
                    {{form.as_table}}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" id="modificar" value="Modificar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">

                </div>

            </form>

        </div>
        
    </div>


    
</body>
</html>