<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/estilos.css'%}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    <script src="{%static 'js/validacion.js'%}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Registro</title>

</head>
<body style="background-color: black;">
    <!--Barra de navegación-->
    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light baralign">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand" href="inicio.html">
          <img src="{%static 'img/foto_10.jpg'%}" width="70" height="60">
        </a>

        <div class="collapse navbar-collapse"  id="opciones"> 
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="inicio.html"><img src="{%static 'img/foto_15.jpg'%}" width="33" height="33" alt="">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="quienes-somos.html"><img src="{%static 'img/foto_21.jpg'%}" width="33" height="33" alt="">Quienes Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="galeria-fotografica.html"><img src="{%static 'img/foto_22.jpg'%}" width="33" height="33" alt="">Galeria Fotográfica</a>
            </li>        
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a  class="nav-link" href="mostrar.html"></a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="competencias.html">Competencias</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="registro.html">Registrarse</a>
            </li>  
          </ul>
        </div>
      </nav>
    <!--Conteiner y desarrollo del registro-->
    <div class="modal-dialog text-center">
      <div class="col-sm-15 main-section">
          <div class="modal-content">
              <div class="col-12 user-img"> <br>
                  <h1 style="font-family: Gaming; font-size: 2em;">Registrate !!</h1><br>
                  <p style="text-align: center; font-family: Gamer;">¡Unete al Mundo Motor! </p>
              </div>

              <form class="col-12" method="POST" name="datos" onsubmit="return validacion()">

                {% csrf_token %}
                <div class="form-group" id="user-group">
                      {{user_form.correo.label}}
                      {{user_form.correo}}
                  </div>
                  <div class="form-group" id="user-group">
                    {{user_form.idUser.label}}
                    {{user_form.idUser}}
                  </div>
                  <div class="form-group" id="user-group">
                    {{user_form.nombreUser.label}}
                    {{user_form.nombreUser}}
                  </div>
                  <div class="form-group" id="user-group">
                    {{user_form.password.label}}
                    {{user_form.password}}
                  </div>
                  <div class="form-group" id="contrasena-group">
                    {{user_form.password.label}}
                    {{user_form.password}}
                  </div>
                  <div class="form-group" id="user-group">
                    {{user_form.nac.label}}
                    {{user_form.nac}}
                  </div>
                  
                  <div class="form-group" id="contrasena-group">
                    {vehiculo_form.patente.label}}
                    {{vehiculo_form.patente}}
                  </div>
                  <div class="form-group" id="contrasena-group">
                    {{vehiculo_form.modelo.label}}
                    {{vehiculo_form.modelo}}
                  </div>
                  <div class="form-group" id="contrasena-group">
                    {{vehiculo_form.marca.label}}
                    {{vehiculo_form.marca}}
                  </div><div class="form-group" id="contrasena-group">
                    {{vehiculo_form.user.label}}
                    {{vehiculo_form.user}}
                  </div>
                  
                  <br>
                  
                  <div class="row">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                  </div>

              </form> <br>
              <div class="col-12 forgot">
                <a style="color: rgb(93, 93, 255);text-align: center;">Al hacer clic en registrarse, acepta todos los terminos de servicio y politica de la comunidad.</a>
              </div> <br>
          </div>
      </div>
  </div>
    <br>
</body>
</html>