<!DOCTYPE html>
<html>
  <head>
    {% load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="{%static 'css/estilos.css'%}" type="text/css" rel="stylesheet">
      <link rel="shortcut icon" href="{%static 'img/foto_10.jpg'%}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <title>Quienes Somos</title>
  </head>
  <body style="height: 100%; background-color: black;">
    <!--Barra de navegación-->
    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light baralign">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="inicio.html">
        <img src="{%static 'img/foto_10.jpg'%}" width="70" height="60">
      </a>

      <div class="collapse navbar-collapse"  id="opciones"> 
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="inicio.html"><img src="{%static 'img/foto_15.jpg'%}" width="33" height="33" alt="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quienes-somos.html"><img src="{%static 'img/foto_21.jpg'%}" width="33" height="33" alt="">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="galeria-fotografica.html"><img src="{%static 'img/foto_22.jpg'%}" width="33" height="33" alt="">Galeria Fotográfica</a>
          </li>         
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a  class="nav-link" href="mostrar.html"></a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="competencias.html">Competencias</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="registro.html">Registrarse</a>
          </li>  
        </ul>
      </div>
    </nav>

    <!--Imagen de fondo-->
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size: 4em;">Quienes Somos</h1>
      </div>
    </div><br>

    <fieldset>
      <div class="intro"><br>
        <p style="text-align: center; font-size: 1.9em;color: red;">Nuestro objetivo, es crear una sitio web en el cual la escena de los Meet Cars llegué a más personas en Chile, por eso creamos
           “Meet Cars Chile”, un sitio donde podrás ver,
           organizar y participar en escenas competitivas.</p>
           <br>
           <div class="t4">
            <img class="img-fluid" src="{%static 'img/t4.png'%}">
           </div>
           <br>
      </div>

      <div class="Empresa"><br>
        <p style="text-align: center; font-size: 1.9em; color: red;">Como empresa nos comprometemos a ofrecer un servicio comodo y sencillo a la hora de ser utilizado,
          siendo optimos al probar algo completamente nuevo.</p>
          <br>
          <div class="t5">
            <img class="img-fluid" src="{%static 'img/t5.png'%}" width="780px" height="239px">
          </div>
          <br>
      </div>

      <div class="Mision y Vision"><br>
        <p style="text-align: center; font-size: 1.9em; color: red;">Esperamos dar la mejor experiencia ante la comodidad de poder competir y reunirse con personas que
          comparten un mismo interes, creando nuevas oportunidades para las comunidaded del mundo tuning, tal asi como la comodidad
          de cada usuario que ingrese a nuestra plataforma.
        </p><br><br>
      </div>

      <div class="video">
        <p>Para más informacion haz click abajo <br><img src="{%static 'img/foto_13.png'%}" width="35" height="35"alt=""></p>
        <a href="https://www.youtube.com/watch?v=I2c_lhDAARI" target="_bank">
          <img src="{%static 'img/foto_23.[jpg'%}" width="110" height="110"alt=""></a> 
      </div>
    </fieldset>

  <!--Javascript-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
  <!--Footer-->
  <footer><hr><p>Página web creada por: Marco Illescas. @Copyrigth Derechos reservados.</p>
    <div><img src="{%static 'img/face.png'%}" width="70px" alt="Facebook"></a>
         <img src="{%static 'img/insta.png'%}" width="70px" alt="Instagram"></a>
         <img src="{%static 'img/github.png'%}" width="70px" alt="GitHub"></a></div>
  </footer>         
  </body>
</html>